/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)  */
* {
	font-size: 100%; font: inherit;
	vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block;}
/************** /meyers css reset ***************/

/*********** custom fonts *********/
@font-face {
	font-family: Bariol;
	src: url('http://www.uvm.edu/~cdavenp1/fonts/Bariol.otf');}
/********** /cust fonts *******/
html {height:100%; width: 100%;}
body {
	/* fallback */
	background-color: #556f9c;
	color: white;

	/* cross browser center fade */
	/*background: -webkit-gradient(radial, center center, 0, center center, 460, from( #556f9c), to(#000));
	background: -webkit-radial-gradient(circle, #556f9c, #000);
	background: -moz-radial-gradient(circle, #556f9c, #000);
	background: -ms-radial-gradient(circle, #556f9c, #000);*/

	/* cross browser top to bottom fade*/
	/*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#556f9c));
	background: -webkit-linear-gradient(top, #556f9c, #000);
	background: -moz-linear-gradient(top, #556f9c, #000);
	background: -ms-linear-gradient(top, #556f9c, #000);
	background: -o-linear-gradient(top, #556f9c, #000);*/

	/* cross browser top to mid to bottom */
	background: -webkit-gradient(linear, center top, center bottom, from(#000), color-stop(0.5, #556f9c), to(#000));
	background: -webkit-linear-gradient(top, #000, #556f9c, #000);
	background: -moz-linear-gradient(top, #000, #556f9c, #000);
	background: -ms-linear-gradient(top, #000, #556f9c, #000);
	background: -o-linear-gradient(top, #000, #556f9c, #000); 
}
h1,h2,h3,h4,h5 {
	color: #ffff00;
}

a { color: yellow;}
a:visited {color: #aaaa00;}

header{	text-shadow: 1px 1px 3px #555;}
header h1 {
	text-align: center;
	font: 40px "Georgia", serif;
	font-family: Bariol; 
	/*font-size: 150%;*/}

.button { 	/* generic properties of each button */
	padding: 5%; margin: 5%;
	display: inline-block; /*shrinkwrap box to element*/
	color: #999;
	
	/* inset effect */ 
	text-shadow: 1px 0 1px #CCC, -1px -1px 1px #000, 0 -2px 3px #000, -2px -1px 0 #CCC, 2px -1px 0 #444;
	letter-spacing:2px;
	
    box-shadow: inset 0 -3px 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15%;
	border: thin black solid;
	background: #b2b2b2;} 

.button:hover {
	position: relative; top: 3px;
    box-shadow: inset 0 -3px 1px rgba(200, 200, 200, 1), inset 0 0 3px rgba(0, 0, 0, 0.9);}


@media all and (min-width: 601px) and (max-width:2000px) {	
	#askQuestion {
		display:block;
		margin: 0 auto;
		width:75%;
	}

	#askQuestion .answer {
		display: inline-block;
		border: .4em solid rgba(255,255,255,.4);
		margin-left:4.5%;
		padding:7%;
		border-radius: 10%;
		text-align:center;
		height:100%;
		width: 12%;
	}

}
@media all and (max-width: 600px) and (min-width: 20px){	
	#askQuestion {	}

	#askQuestion .answer {
		display: block;
		border: .5em solid rgba(255,255,255,.4);
		margin:2% auto;
		padding:2% 10%;
		border-radius: 10px;
		width: 40%;
		text-align:center;
	}
}

#tblAnswers, #displayQuestions {
	margin: 0 auto;
}

#displayQuestions {
	border-collapse: collapse;
}

#displayQuestions .question {
	background-color: rgba(200,200,200,.2);
}

#displayQuestions th[scope="row"] {
	padding-right:4%;
}


#tblAnswers th {
	padding: 1em;
	background-color: rgba(255,255,255,.3);
}

#askQuestion input[type="submit"] {
	margin: 0 auto;
	width: 5em;
	display:block;
}

#displayQuestions th {
    text-align:center;
}

#createQuestions{
	/*float:left;*/
}

#createQuestions p{
	display: inline;
}

#createQuestions input[type="submit"] {
	display:inline-block;
}

#deleteQuestions {
	/*display:inline-block;*/
}

#tblAnswers td {
	text-align: center;
}

#Graph {
	border:thin solid black;
	box-shadow: inset 2px 2px 5px rgba(2,2,2,.2);
	padding:.1em;
}
.bar {
	border:thin solid black;
	background-color: white;
	color: black;
	border-radius: 5px;
	box-shadow:inset 15px 0px 19px rgba(200,200,200,.6), 2px 2px rgba(20,20,20,.5);
	bottom: .3em;
}